<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
  

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">



   

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    
    <!-- Main CSS-->
    <link href="/stylesheets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="/imgs/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                  
                          
                     
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/imgs/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Trang Chủ</a>
                           
                        </li>
                      
                        
                         
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                           
                            <div class="header-button">
                                <div class="noti-wrap">
                                    
                                    <div class="noti__item js-item-menu">
                                        
                                        <div class="dropdown">
                                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="zmdi zmdi-comment-more"></i>
                                            </button>
                                            <span class="quantity">1</span>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="#">Action</a>
                                              <a class="dropdown-item" href="#">Another action</a>
                                              <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                          </div>
                                      
                                    </div>
                                 
                                    <div class="noti__item js-item-menu">
                                        
                                        <div class="dropdown">
                                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="zmdi zmdi-email"></i>
                                            </button>
                                            <span class="quantity">1</span>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="#">Action</a>
                                              <a class="dropdown-item" href="#">Another action</a>
                                              <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                          </div>
                                      
                                    </div>
                                  
                                    <div class="noti__item js-item-menu">
                                        
                                        <div class="dropdown">
                                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="zmdi zmdi-notifications"></i>
                                            </button>
                                            <span class="quantity">1</span>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="#">Action</a>
                                              <a class="dropdown-item" href="#">Another action</a>
                                              <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="dropdown">
                                           
                                            <button class="image" type="button" id="dropdown-User" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/imgs/images/icon/avatar-01.jpg" alt="John Doe" />
                                            </button>
                                            
                                            <div class="dropdown-menu" aria-labelledby="dropdown-User">
                                        
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                        
                                            <div class="account-dropdown__footer">
                                                <a href="../logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                                
                                            </div>
                                            
                                            
                                        </div>
                                       
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%= displayName %></a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
 <!-- tao moi tai khoan cho phong khoa                    -->
                        <div class="row">
    <!-- tạo tài khoản cho phòng khoa -->
    <!-- Button trigger modal -->
<button type="button" id="TaoTaiKhoan" class="btn" style=" ">
    <i class="fa-3x fas fa-plus-circle"></i>
  </button>
  
  <!-- Modal tao tai khoan -->
  <div class="modal fade" id="ModelTaoTaiKhoan" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12" style="background-color: rgb(207, 226, 96);">
                <table>
                    <tr class="">
                        <td> <label  for="username">Username</label> </td>
                        <td><input id="username" name="username" placeholder="vui lòng nhập vào username" /></td>
                    </tr>
                    <tr class="">
                        
                        <td> <label for="email">email</label> </td>
                        <td> <input id="email" name="email" placeholder="vui lòng nhập vào email" /></td>
                       
                     </tr>
                     <tr class="">

                        <td>   <label for="password">password</label> </td>
                        <td>  <input id="password" name="password" placeholder="vui lòng nhập vào password" /></td>

                      
                       
                     </tr>
                     <tr class="">
                        <td>    <label for="displayName">displayName</label> </td>
                        <td>   <input id="displayName" name="displayName" placeholder="vui lòng nhập vào displayName" /> </td>
                      
                      
                     </tr>
                    
                    <tr>
                        <td colspan="2">Danh Mục</td>
                    </tr>
                     
                    <tr>
                        <td><label for="PHÒNG CTHSSV">PHÒNG CTHSSV</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG CTHSSV" name="chuyenmuc[]" value="PHÒNG CTHSSV" > </td>
                    </tr>
                    <tr>
                        <td>  <label for="KHOA LUẬT">KHOA LUẬT</label> </td>
                        <td><input type="checkbox" class="checkboxphongban"" id="KHOA LUẬT" name="chuyenmuc[]" value="KHOA LUẬT" ></td>
                      
                    </tr>
                    <tr>
                        <td><label for="KHOA MỸ THUẬT CÔNG NGHIỆP">KHOA MỸ THUẬT CÔNG NGHIỆP</label></td>
                        <td><input type="checkbox" class="checkboxphongban"" id="KHOA MỸ THUẬT CÔNG NGHIỆP" name="chuyenmuc[]" value="KHOA MỸ THUẬT CÔNG NGHIỆP" ></td>
                    </tr>
                    <tr>
                        <td><label for="KHOA ĐIỆN – ĐIỆN TỬ">KHOA ĐIỆN – ĐIỆN TỬ</label></td>
                        <td><input type="checkbox" class="checkboxphongban"" id="KHOA ĐIỆN – ĐIỆN TỬ" name="chuyenmuc[]" value="KHOA ĐIỆN – ĐIỆN TỬ" ></td>
                    </tr>
                    
                    <tr>
                        <td><label for="KHOA CÔNG NGHỆ THÔNG TIN">KHOA CÔNG NGHỆ THÔNG TIN</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA CÔNG NGHỆ THÔNG TIN" name="chuyenmuc[]" value="KHOA CÔNG NGHỆ THÔNG TIN" > </td>
                    </tr>

                    <tr>
                        <td><label for="KHOA QUẢN TRỊ KINH DOANH">KHOA QUẢN TRỊ KINH DOANH</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA QUẢN TRỊ KINH DOANH" name="chuyenmuc[]" value="KHOA QUẢN TRỊ KINH DOANH" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA MÔI TRƯỜNG VÀ BẢO HỘ LAO ĐỘNG">KHOA MT & BHLD</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA MÔI TRƯỜNG VÀ BẢO HỘ LAO ĐỘNG" name="chuyenmuc[]" value="KHOA MÔI TRƯỜNG VÀ BẢO HỘ LAO ĐỘNG" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA LAO ĐỘNG CÔNG ĐOÀN">KHOA LAO ĐỘNG CÔNG ĐOÀN</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA LAO ĐỘNG CÔNG ĐOÀN" name="chuyenmuc[]" value="KHOA LAO ĐỘNG CÔNG ĐOÀN" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA TÀI CHÍNH NGÂN HÀNG">KHOA TÀI CHÍNH NGÂN HÀNG</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA TÀI CHÍNH NGÂN HÀNG" name="chuyenmuc[]" value="KHOA TÀI CHÍNH NGÂN HÀNG" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA GIÁO DỤC QUỐC TẾ">KHOA GIÁO DỤC QUỐC TẾ</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA GIÁO DỤC QUỐC TẾ" name="chuyenmuc[]" value="KHOA GIÁO DỤC QUỐC TẾ" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG ĐẠI HỌC">PHÒNG ĐẠI HỌC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG ĐẠI HỌC" name="chuyenmuc[]" value="PHÒNG ĐẠI HỌC" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG SAU ĐẠI HỌC">PHÒNG SAU ĐẠI HỌC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG SAU ĐẠI HỌC" name="chuyenmuc[]" value="PHÒNG SAU ĐẠI HỌC" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH">PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH" name="chuyenmuc[]" value="PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG KHẢO THÍ VÀ KĐCL">PHÒNG KHẢO THÍ VÀ KĐCL</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG KHẢO THÍ VÀ KĐCL" name="chuyenmuc[]" value="PHÒNG KHẢO THÍ VÀ KĐCL" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG TÀI CHÍNH">PHÒNG TÀI CHÍNH</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG TÀI CHÍNH" name="chuyenmuc[]" value="PHÒNG TÀI CHÍNH" > </td>
                    </tr>
                    <tr>
                        <td><label for="TDT CREATIVE LANGUAGE CENTER">TDT CREATIVE LANGUAGE CENTER</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="TDT CREATIVE LANGUAGE CENTER" name="chuyenmuc[]" value="TDT CREATIVE LANGUAGE CENTER" > </td>
                    </tr>
                    <tr>
                        <td><label for="TRUNG TÂM TIN HỌC">TRUNG TÂM TIN HỌC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="TRUNG TÂM TIN HỌC" name="chuyenmuc[]" value="TRUNG TÂM TIN HỌC" > </td>
                    </tr>

                    <tr>
                        <td><label for="SDTC">SDTC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="SDTC" name="chuyenmuc[]" value="SDTC" > </td>
                    </tr>
                    <tr>
                        <td><label for="ATEM">ATEM</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="ATEM" name="chuyenmuc[]" value="ATEM" > </td>
                    </tr>
                    <tr>
                        <td><label for="HỢP TÁC DOANH NGHIỆP & CỰU SV">HỢP TÁC DOANH NGHIỆP & CỰU SV</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="HỢP TÁC DOANH NGHIỆP & CỰU SV" name="chuyenmuc[]" value="HỢP TÁC DOANH NGHIỆP & CỰU SV" > </td>
                    </tr>
                    <tr>
                        <td><label for="VIỆN CSKT & KD">VIỆN CSKT & KD</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="VIỆN CSKT & KD" name="chuyenmuc[]" value="VIỆN CSKT & KD" > </td>
                    </tr>
                    <tr>
                        <td><label for="NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA">NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA" name="chuyenmuc[]" value="NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA" > </td>
                    </tr>

                    <!-- thong bao loi  -->
                    <tr>
                        <td  colspan="2">
                            <p id="ThongBao" style="color: red;"></p>
                        </td>
                    </tr>
                  
                     
              
                    
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="CloseTaoTaiKhoan" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" id="btn-DangKi" class="btn btn-primary">Đăng kí</button>
        </div>
      </div>
    </div>
  </div>
                          
    <!-- end tao tai khoan cho phong khoa -->
      <!-- Modal phan quyen tai khoan -->
  <div class="modal fade" id="ModelPhanQuyenTaiKhoan" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Phân Quyền Phòng Khoa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12" style="background-color: rgb(207, 226, 96);">
                <table>
                    <tr class="">
                        <td> <label  for="username_pq">Username</label> </td>
                        <td><input id="username_pq" name="username" placeholder="vui lòng nhập vào username" /></td>
                    </tr>
                    <tr class="">
                        
                        <td> <label for="email_pq">email</label> </td>
                        <td> <input id="email_pq" name="email" placeholder="vui lòng nhập vào email" /></td>
                       
                     </tr>
                     <tr class="">

                        <td>   <label for="password_pq">password</label> </td>
                        <td>  <input id="password_pq" name="password" placeholder="vui lòng nhập vào password" /></td>

                      
                       
                     </tr>
                     <tr class="">
                        <td>    <label for="displayName_pq">displayName</label> </td>
                        <td>   <input id="displayName_pq" name="displayName" placeholder="vui lòng nhập vào displayName" /> </td>
                      
                      
                     </tr>
                    
                    <tr>
                        <td colspan="2">Danh Mục</td>
                    </tr>
                     
                    <tr>
                        <td><label for="PHÒNG CTHSSV">PHÒNG CTHSSV</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG CTHSSV" name="chuyenmuc_pq[]" value="PHÒNG CTHSSV" > </td>
                    </tr>
                    <tr>
                        <td>  <label for="KHOA LUẬT">KHOA LUẬT</label> </td>
                        <td><input type="checkbox" class="checkboxphongban"" id="KHOA LUẬT" name="chuyenmuc_pq[]" value="KHOA LUẬT" ></td>
                      
                    </tr>
                    <tr>
                        <td><label for="KHOA MỸ THUẬT CÔNG NGHIỆP">KHOA MỸ THUẬT CÔNG NGHIỆP</label></td>
                        <td><input type="checkbox" class="checkboxphongban"" id="KHOA MỸ THUẬT CÔNG NGHIỆP" name="chuyenmuc_pq[]" value="KHOA MỸ THUẬT CÔNG NGHIỆP" ></td>
                    </tr>
                    <tr>
                        <td><label for="KHOA ĐIỆN – ĐIỆN TỬ">KHOA ĐIỆN – ĐIỆN TỬ</label></td>
                        <td><input type="checkbox" class="checkboxphongban"" id="KHOA ĐIỆN – ĐIỆN TỬ" name="chuyenmuc_pq[]" value="KHOA ĐIỆN – ĐIỆN TỬ" ></td>
                    </tr>
                    
                    <tr>
                        <td><label for="KHOA CÔNG NGHỆ THÔNG TIN">KHOA CÔNG NGHỆ THÔNG TIN</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA CÔNG NGHỆ THÔNG TIN" name="chuyenmuc_pq[]" value="KHOA CÔNG NGHỆ THÔNG TIN" > </td>
                    </tr>

                    <tr>
                        <td><label for="KHOA QUẢN TRỊ KINH DOANH">KHOA QUẢN TRỊ KINH DOANH</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA QUẢN TRỊ KINH DOANH" name="chuyenmuc_pq[]" value="KHOA QUẢN TRỊ KINH DOANH" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA MÔI TRƯỜNG VÀ BẢO HỘ LAO ĐỘNG">KHOA MT & BHLD</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA MÔI TRƯỜNG VÀ BẢO HỘ LAO ĐỘNG" name="chuyenmuc_pq[]" value="KHOA MÔI TRƯỜNG VÀ BẢO HỘ LAO ĐỘNG" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA LAO ĐỘNG CÔNG ĐOÀN">KHOA LAO ĐỘNG CÔNG ĐOÀN</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA LAO ĐỘNG CÔNG ĐOÀN" name="chuyenmuc_pq[]" value="KHOA LAO ĐỘNG CÔNG ĐOÀN" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA TÀI CHÍNH NGÂN HÀNG">KHOA TÀI CHÍNH NGÂN HÀNG</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA TÀI CHÍNH NGÂN HÀNG" name="chuyenmuc_pq[]" value="KHOA TÀI CHÍNH NGÂN HÀNG" > </td>
                    </tr>
                    <tr>
                        <td><label for="KHOA GIÁO DỤC QUỐC TẾ">KHOA GIÁO DỤC QUỐC TẾ</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="KHOA GIÁO DỤC QUỐC TẾ" name="chuyenmuc_pq[]" value="KHOA GIÁO DỤC QUỐC TẾ" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG ĐẠI HỌC">PHÒNG ĐẠI HỌC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG ĐẠI HỌC" name="chuyenmuc_pq[]" value="PHÒNG ĐẠI HỌC" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG SAU ĐẠI HỌC">PHÒNG SAU ĐẠI HỌC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG SAU ĐẠI HỌC" name="chuyenmuc_pq[]" value="PHÒNG SAU ĐẠI HỌC" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH">PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH" name="chuyenmuc_pq[]" value="PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG KHẢO THÍ VÀ KĐCL">PHÒNG KHẢO THÍ VÀ KĐCL</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG KHẢO THÍ VÀ KĐCL" name="chuyenmuc_pq[]" value="PHÒNG KHẢO THÍ VÀ KĐCL" > </td>
                    </tr>
                    <tr>
                        <td><label for="PHÒNG TÀI CHÍNH">PHÒNG TÀI CHÍNH</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="PHÒNG TÀI CHÍNH" name="chuyenmuc_pq[]" value="PHÒNG TÀI CHÍNH" > </td>
                    </tr>
                    <tr>
                        <td><label for="TDT CREATIVE LANGUAGE CENTER">TDT CREATIVE LANGUAGE CENTER</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="TDT CREATIVE LANGUAGE CENTER" name="chuyenmuc_pq[]" value="TDT CREATIVE LANGUAGE CENTER" > </td>
                    </tr>
                    <tr>
                        <td><label for="TRUNG TÂM TIN HỌC">TRUNG TÂM TIN HỌC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="TRUNG TÂM TIN HỌC" name="chuyenmuc_pq[]" value="TRUNG TÂM TIN HỌC" > </td>
                    </tr>

                    <tr>
                        <td><label for="SDTC">SDTC</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="SDTC" name="chuyenmuc_pq[]" value="SDTC" > </td>
                    </tr>
                    <tr>
                        <td><label for="ATEM">ATEM</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="ATEM" name="chuyenmuc_pq[]" value="ATEM" > </td>
                    </tr>
                    <tr>
                        <td><label for="HỢP TÁC DOANH NGHIỆP & CỰU SV">HỢP TÁC DOANH NGHIỆP & CỰU SV</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="HỢP TÁC DOANH NGHIỆP & CỰU SV" name="chuyenmuc_pq[]" value="HỢP TÁC DOANH NGHIỆP & CỰU SV" > </td>
                    </tr>
                    <tr>
                        <td><label for="VIỆN CSKT & KD">VIỆN CSKT & KD</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="VIỆN CSKT & KD" name="chuyenmuc_pq[]" value="VIỆN CSKT & KD" > </td>
                    </tr>
                    <tr>
                        <td><label for="NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA">NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA</label></td>
                        <td>  <input type="checkbox" class="checkboxphongban"" id="NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA" name="chuyenmuc_pq[]" value="NN-TIN HỌC-BỒI DƯỠNG VĂN HÓA" > </td>
                    </tr>

                    <!-- thong bao loi  -->
                    <tr>
                        <td  colspan="2">
                            <p id="ThongBao_pq" style="color: red;"></p>
                        </td>
                    </tr>
                  
                     
              
                    
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="ClosePhanQuyenTaiKhoan" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" id="btn-PhanQuyen" class="btn btn-primary">Thực Thi</button>
        </div>
      </div>
    </div>
  </div>
                          
    <!-- end tao tai khoan cho phong khoa -->

    <!-- lay tat ca tai khoan phong khoa ra  -->
    <div class="container-fluid">
        <table >
            <thead class="">
            <tr class="">
                <td>STT</td>
                <td>Username</td>
                <td>DisplayName</td>
                <td>Email</td>
                <td style=" width: 100px">Password</td>
                <td>Chuyên mục</td>
                <td>Chức năng</td>
            </tr>
            </thead>
            <tbody id="TatCaTaiKhoan">
            
                <%  AllPhongKhoa.forEach((e,index) => { %>
                    <tr class="<%= e.id %>">
                        <th><%= (index+1) %></th>
                        <th data-username="<%= e.id %>" ><%= e.username %> </th>
                        <th data-displayName="<%= e.id %>"><%= e.displayName %></th>
                        <th data-email="<%= e.id %>"><%= e.email %></th>
                        <th style="  max-width: 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;" ><%= e.password %></th>

                        <% let tmp =  '' %>
                        <% e.chuyenmuc.forEach( (el,index) => { %>
                        
                            <% tmp = tmp + (index+1) + ". " + el.name + " \n " %>
                          
                        <% }) %>
                        <th data-chuyenmuc="<%= e.id %>"><%- tmp.replace(/\n/g, '<br/>') %></th>
                        <th>
                            <button data-id="<%= e.id %>" class="btn btn-primary sua-phongkhoa">
                                    Phân Quyền
                            </button>
                            
                        </th>
                    </tr>
                <% }) %>
            
            
            </tbody>
        </table>
     
    </div>
                         
<!-- lay tat ca tai khoan phong khoa ra  -->

                         
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</script>

<!-- Main JS-->
<script src="/javascripts/js/admin/main.js"></script>
   

</body>






</html>
<!-- end document-->
